.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 1rem;
  @media (min-width: 1024px) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    @media screen and (min-width: 1024px) {
      margin-top: 0;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    background-image: linear-gradient(90deg, #00d2ff, #3a7bd5, #1e3c72);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
  }

  &__title {
    font-size: 4rem;
    background-image: linear-gradient(90deg, #00d2ff, #3a7bd5, #1e3c72);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    @media screen and (min-width: 1024px) {
      font-size: 5rem;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__buttonDownload {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid grey;
    width: fit-content;
    border-radius: 5px;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__imgContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    @media screen and (min-width: 1024px) {
      width: 200px;
      height: 200px;
    }
  }

  &__img {
    width: 100%;
  }
}
