.svgAnimated {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: blur(2.5rem);
  opacity: 0.8;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: -1;
}

:global(.dark) .svgAnimated {
  color: $white;
  mix-blend-mode: screen;
}
