.projects {
  padding: 50px 1rem;

  @media screen and (min-width: 1024px) {
    padding: 0 10rem;
    margin-bottom: 5rem;
  }

  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  &__tabs {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__containerTabs {
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 0;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }
  }

  &__card {
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
